.filters-list-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  margin: 0 auto 20px;
  padding: 7px 40px;
  text-align: center;
  width: fit-content;
}

.filters-list-container > h3 {
  align-self: center;
  margin-right: 30px;
}

.all-used-filters-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.filters-list-filter-info {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px 0;
  padding: 7px 10px;
  width: 100%;
}

.filters-list-filter-info > .remove-filter-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 20px;
  padding: 5px 5px;
}

.filters-list-filter-info > .remove-filter-button:hover {
  cursor: pointer;
}
