.table-wrapper {
  margin: 0 auto;
  overflow-x: scroll;
  width: 90%;
}

table {
  border-collapse: collapse;
  width: 2000px;
}

table, th, td {
  border: 1px solid #fff;
}

.one-line-field {
  white-space: nowrap;
}

th, td {
  padding: 5px 10px;
  text-align: center;
  width: fit-content;
}
